<?js
    var data = obj;
    var self = this;
    data.forEach(function(name, i) {
    if (env && env.conf && env.conf.docdash && env.conf.docdash.shortenTypes === true) {
        var nameArr = name.split(".");
        var resolvedName = nameArr[nameArr.length - 1];
    } else {
        var resolvedName = name;
    }
    ?>
<span class="param-type"><?js= self.linkto(name, self.htmlsafe(resolvedName))?></span>
<?js if (i < data.length-1) { ?>|<?js } ?>
<?js }); ?>
